:root {
  --white-color: #ffffff;
  --dark-color: #000000;
  --input-text: #939eac;
  --linear-gradient: linear-gradient(
    to right,
    rgba(0, 197, 235, 1),
    rgba(181, 68, 254, 1)
  );
  --linear-gradient-card: linear-gradient(
    to right bottom,
    rgba(181, 68, 254, 0.5),
    rgba(0, 197, 235, 0.5)
  );
  --background-section: #06071b;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*  */
.button-gradient {
  background-image: var(--linear-gradient);
  position: relative;

  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 11px;
}

/*  для десктопа !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.button-gradient:hover::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: var(--linear-gradient) border-box;
  -webkit-mask: var(--linear-gradient) padding-box, var(--linear-gradient);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.button-gradient:hover,
.button-gradient:focus {
  background: transparent;
}

.button-download {
  padding-left: 61px;
  padding-right: 60px;
}

.button-submit {
  padding-left: 59px;
  padding-right: 59px;
}
/*  */

body {
  font-family: "Inter";
  font-style: normal;
}

/* header styles */

.header {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 10;

  width: 100%;
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
}

.logo {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21;
  color: var(--white-color);
}

.navigation {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--white-color);
}

.navigation-header {
  display: flex;
  align-items: center;
}

/* hero */

.hero-section {
  background-color: var(--background-section);
  position: relative;
}

.title-hero {
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 12px;
}

.title-list {
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 28px;
}

.list-quality {
  display: flex;
  flex-direction: column;
}

.svg-arrow {
  margin-right: 4px;
}

.quality {
  font-weight: 400;
  color: var(--white-color);
  display: flex;
}

.span-arrow {
  display: block;
}

.button-download.button-gradient {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: var(--white-color);
}

/*section1 */

.sections-futures-title {
  font-weight: 700;
  color: var(--dark-color);
  display: flex;
  justify-content: center;
}

.text-sections-features {
  font-weight: 500;
  text-align: center;
  color: var(--dark-color);
}

.quality-name {
  font-weight: 700;
  color: var(--dark-color);
}

.text-quality {
  font-weight: 500;
  /* font-size: 12px;
  line-height: 1.25px; */
  color: var(--dark-color);
}

/*section1 */

/* section2 */

.section-video {
  background-color: var(--background-section);
}

.list-content-video {
  display: flex;
}

.title-video {
  font-weight: 700;
  color: var(--white-color);
}

.text-video {
  font-weight: 500;
  color: var(--white-color);
}

.list-icon {
  display: flex;
  column-gap: 20px;
}

.list-img {
  width: 60px;
  height: 60px;
}

.link-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background-image: var(--linear-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-photo-wideo {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.photo-iphone {
  position: absolute;
}

/* section2 */

/* section3 */

.tittle-team {
  font-weight: 700;
  text-align: center;
  color: var(--dark-color);
}

.text-section-team {
  font-weight: 500;
  text-align: center;
  color: var(--dark-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.lists-people {
  background-image: var(--linear-gradient-card);
  background-color: var(--background-section);
  border-radius: 15px;
  backdrop-filter: blur(17.5px);
}
.people-card {
  border-radius: 10px;
  overflow: hidden;
}

.name-people {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  color: var(--white-color);
  margin-bottom: 12px;
}

.name-position {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;

  text-align: center;

  color: var(--white-color);
}

/* section3 */

/* section 4 */

.title-costumers {
  font-weight: 700;
  text-align: center;

  color: var(--dark-color);
  margin-bottom: 40px;
}

.people-photo-costumers {
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #d9d9d9;
  margin-bottom: 20px;
}

.name-people-costumers {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;

  margin-bottom: 12px;
  color: var(--dark-color);
}

.company-int-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;

  color: var(--dark-color);
}

.text-costumers {
  font-weight: 500;
  text-align: center;

  color: var(--dark-color);
}

.lest-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.circle:not(:first-child) {
  background-color: #939eac;
}

.circle:first-child {
  background-color: #06071b;
}

/* section 4 */

/* section 5 */

.container-order {
  display: flex;
}

.section-contact {
  background-color: var(--background-section);
}

.title-contact {
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
}

/* container-order-one */

.title-container-one {
  font-weight: 500;
  color: var(--white-color);
}

.text-container-one {
  font-weight: 500;
  color: var(--white-color);
}

.list-icon-contacts {
  display: flex;
  column-gap: 14px;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: var(--linear-gradient);
}

.icon-contacts-svg {
  fill: var(--white-color);
}

/*  container-order-one*/

/* container-order-two */
.input-name {
  height: 40px;
  padding: 11px 0 12px 8px;
  color: var(--dark-color);
  border: none;
  border-radius: 5px;
  outline: none;
}

.input-name::placeholder,
.input-email::placeholder,
.textarea::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  color: #939eac;
}

.input-email {
  height: 40px;
  padding: 11px 0 12px 8px;
  color: var(--dark-color);
  border: none;
  border: none;
  border-radius: 5px;
  outline: none;
}

.textarea {
  padding: 12px 8px;
  resize: none;
  border: none;
  border-radius: 5px;
  outline: none;
}

.button-gradient.button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  color: var(--white-color);
}
/* container-order-two */

/* section 5 */

/* footer */

.footer {
  background-color: var(--background-section);
}

.section-footer {
}

.container-footer {
}

.text-footer {
  font-weight: 500;
  color: var(--white-color);
}

/* footer */

@media screen and (max-width: 767px) {
  .section {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .list-navigation {
    display: none;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .button-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .modal-burger {
    fill: var(--white-color);
  }
  /* hero */

  .hero-section {
    padding-top: 182px;
    padding-bottom: 127px;
  }

  .hero-section {
    /* background: radial-gradient(circle at center) rgba(125, 85, 255, 0.5) 20%;
    background-image: url(../images/mobile/main.png),
      url(../images/mobile/iPhone.png);
    background-size: 422px 456px, 395px 430px;
    background-repeat: no-repeat;
    background-position: right -132px bottom 18px, right -100px bottom 44px; */
  }

  .title-hero {
    font-size: 24px;
    line-height: 1.21;
  }

  .title-list {
    font-size: 14px;
    line-height: 1.21;
  }

  .list-quality {
    row-gap: 8px;
  }

  .list-quality {
    margin-bottom: 40px;
  }

  .quality {
    font-size: 12px;
    line-height: 1.42;
    max-width: 259px;
  }

  .span-arrow {
    max-width: 219px;
  }

  .button-download.button-gradient {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }

  /* .container-photo {
    display: none;
  } */

  .container-photo {
    /* position: absolute;
    bottom: 18px;
    right: -132px; */
  }

  .photo-hero-display {
    position: absolute;
    bottom: 44px;
    right: -100px;
  }

  .photo-hero-mobil {
    position: absolute;
    bottom: 18px;
    right: -132px;
  }

  /* hero */

  /*section1 */

  .sections-futures-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .text-sections-features {
    font-size: 14px;
    line-height: 1.43;
    /* margin-bottom: 493px; */
    padding-bottom: 449px;
    background: url(../images/people.png) no-repeat 50% 100%;
  }

  .list-quality-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 44px;
  }

  .efir {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .efir::before {
    content: "";
    background-image: url(../images/efir.png);
    background-size: cover;
    background-position: center;

    width: 28px;
    height: 28px;
  }

  .quality-name {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 12px;
  }

  .text-quality {
    font-size: 12px;
    line-height: 1.25;
    max-width: 241px;
    margin-left: 40px;
  }

  .span-table {
    display: none;
  }

  /*section1 */

  /* section2 */

  .content-info-video {
    margin-bottom: 23px;
  }

  .title-video {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
    text-align: center;
  }

  .text-video {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 24px;
    text-align: center;
  }

  .list-icon {
    justify-content: center;
  }

  .list-photo-wideo {
    height: 258px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo-iphone {
    left: auto;
    top: 60px;
  }

  /* section2 */

  /* section3 */

  .tittle-team {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
  }

  .text-section-team {
  }

  .text-section-team {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 28px;
  }

  .team-list {
    row-gap: 24px;
    justify-content: center;
  }

  .lists-people {
    padding: 16px 12px 16px;
  }

  .people-card {
    width: 248px;
    height: 303px;
    margin-bottom: 24px;
  }

  /* section3 */

  /* section4 */

  .title-costumers {
    font-size: 20px;
    line-height: 1.2;
  }

  .company-int-text {
    margin-bottom: 24px;
  }

  .text-costumers {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 40px;
  }
  /* section4 */

  /* section5 */
  .container-order {
    flex-direction: column;
  }

  .container-order-one {
    order: 2;
  }

  .title-contact {
    font-size: 20px;
    line-height: 24px;

    margin-bottom: 40px;
  }

  /* container-order-one */
  .title-container-one {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
  }

  .text-container-one {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    margin-bottom: 40px;
  }
  .list-icon-contacts {
    justify-content: center;
  }

  /*  container-order-one*/

  /* container-order-two */
  .container-order-two {
    margin-bottom: 40px;
  }

  .form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
  }
  .input-name {
    width: 100%;
  }

  .input-email,
  .width {
    width: 100%;
  }

  .textarea {
    width: 100%;
    height: 220px;
  }
  /* container-order-two */

  /* section5 */

  /* footer */

  .section-footer {
    padding-left: 24px;
    padding-right: 24px;
  }

  .container-footer {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .text-footer {
    font-size: 14px;
    line-height: 1.21;
    width: 193px;
  }
  /* footer */
}

@media screen and (min-width: 768px) {
  .button-header {
    display: none;
  }

  /* hero */
  .title-hero {
    font-size: 40px;
    line-height: 1.2;
  }

  .title-list {
    font-size: 20px;
    line-height: 1.2;
  }

  .title-list {
    font-size: 20px;
    line-height: 1.2;
  }

  .list-quality {
    row-gap: 14px;
  }

  .quality {
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
  }
  /* hero */

  /* section1 */

  .text-sections-features {
    font-size: 16px;
    line-height: 1.5;
    max-width: 855px;
  }

  .quality-name {
    font-size: 16px;
    line-height: 1.5px;
    margin-bottom: 13px;
  }

  /* section1 */
}

@media screen and (max-width: 1279px) {
  /*section1 */
  .sections-futures-title {
    margin-bottom: 40px;
  }

  .text-sections-features {
    margin-bottom: 40px;
  }

  /* section2 */

  .list-content-video {
    flex-direction: column;
  }

  /* section2 */
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .list-quality {
    margin-bottom: 74px;
  }
  /*section1 */

  .sections-futures-title {
    font-size: 24px;
    line-height: 1.21;
  }

  /*section1 */
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .list-quality {
    margin-bottom: 73px;
  }

  /*section1 */

  .sections-futures-title {
    font-size: 24px;
    line-height: 1.21;
    margin-bottom: 80px;
  }

  .text-sections-features {
    margin-bottom: 0;
    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  }
  /*section1 */
}
